* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header{
    align-items: center;
    letter-spacing: 0.88px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #17233d;
    margin-right: 32px;
    cursor: pointer;
}

.button-header{
    width: 124px;
    height: 51px;
    border: 1px solid #4cb538;
    border-radius: 6px;
    background: #6fbf44;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;

}


img{
    margin-left: 121px;
    margin-top: 163px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px;


}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161a49;
    height: 164px;
    
}

p{

    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    

}

.link-final{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6fbf44;
    cursor: pointer;
    background: transparent;
    border: none;
       

}

@media screen and (max-width: 900px) {
    
    div{
        display: flex;
        flex-direction: column-reverse;


    }
    
    .link-header{
        display: none;
    }
    .button-header{
        width: 20%;
        margin: 17px 15px 76px 423px;
        display: block;
         
       

    }

    .meus-texto{
        margin-bottom: 100%;
        width: 60%;
       


    }


.image-logo{
        position: relative;
        width: 50%; 
    
       
    


}


    
}
    

